body {
  opacity: 85%;
  background: linear-gradient(135deg, #ff9696, #da8bff, #8bd0ff);
  background-size: 800% 800%;
  animation-name: huerot;
  animation-play-state: running;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes huerot {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
